<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/styles.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
    <title>How's That Burger?</title>
</head>
<body>
    <div class="center">
        <img src="https://consequenceofsound.net/wp-content/uploads/2019/05/good-burger-returns-kenan-kel-all-that-reunion-revival.png" alt="Good burger image." class="center">
    </div>
    
    <h1>How's That Burger?</h1>
    <div>
        {{{ body }}}
    </div>
</body>
</html>


